@import "../../../node_modules/materialize-css/sass/materialize";

/*
@font-face {
  font-family: 'CamingoDos Pro';
  src: url('../fonts/CamingoDos-Pro/CamingoDos Pro.otf');
}*/

$main: #B01E31;
$turquesa: #00BAF2;
$verde: #ABCB6A;
$naranja: #F9AC3E;
$morado: #9A3267;
$white: #fff;
//font
$font-size: 16px;
body {
    font-size: $font-size;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//container
.relative-col {
    position: relative;
    height: 100vh;
    .absolute-child {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


/*REUSABLES*/

.p-0 {
    padding: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.btn-down {
    background-color: $naranja;
    padding: 12px;
    width: 100%;
    border: none;
    color: $white;
    font-weight: 500;
}

section {
    padding: 30px 0;
}

button.select-label {
    bottom: 0;
}


/*MENU*/

.bg_profile {
    background-color: $morado;
    height: 12rem;
}

li .circle {
    background-image: url("http://lorempixel.com/300/175/technics");
    position: absolute;
    top: 4%;
    left: 5%;
    width: 80px;
    height: 80px;
    background-size: 241%;
    background-repeat: no-repeat;
    background-position: 21% 2%;
}

li:first-child>a {
    top: 8rem;
}


/*CUrsos*/

h3 {
    font-size: 1.6rem;
}

.course {
    width: 100%;
    height: 100%;
    border: 1px solid rgba($white, 1);
    border-top: 4px solid $turquesa;
}

.course h2 {
    padding: 0 20px;
}

.practica {
    background: $turquesa;
    color: $white;
    padding: 10px;
}


/*PRACTICAS*/

.nivel {
    height: 10rem;
    background-image: url("http://lorempixel.com/300/175/nature");
    display: flex;
    justify-content: center;
}

.nivel img {
    width: 70%;
    height: 70%;
    padding: 10px;
    background-color: $main;
}

.test {
    margin: 10px 0;
}

.detail {
    background-color: $turquesa;
    border-bottom: 2px solid $naranja;
}

.detail a {
    color: $white;
}

.modal {
    width: 90% !important;
    max-height: 80% !important;
}

.modal-content .row button {
    width: 80%;
}


/*botones*/

.exercise {
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
}

.exercise span {
    float: left;
}

.exercise p {
    margin: 0 auto;
}

.ex {
    width: 2.5rem;
    height: 2.5rem;
    background: $naranja;
    color: $white;
}


/*Q preguntas*/

.number {
    width: 100px;
    height: 100px;
    background-color: $verde;
    font-size: 4rem
}

#cantidad .row:last-child button {
    width: 100%;
}


/*prueba*/

.alternatives div {
    padding: 12px;
    background-color: $turquesa;
    margin: 10px;
    text-align: center;
}


/*Resultado*/

.bg_nav {
    background-color: $morado;
}

.btn-tema {
    background-color: $naranja;
}

.btn-result {
    width: 100%;
    height: 6rem;
}

.flex-valign {
    display: flex;
    align-items: center;
}

.row-result {
    margin-top: 3rem;
    margin-bottom: 0;
}

.row-result .col {
    padding: 0;
}

.bottom-btn {
    position: absolute;
    bottom: 0;
}

.bottom-btn .col-btn .btn {
    padding: 0 3.2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.bg_turquesa {
    background-color: $turquesa;
}

.bg_verde {
    background-color: $verde;
}