@import "../../../node_modules/materialize-css/sass/materialize";
@import "owl/owl.carousel";

$main: #B01E31;
$turquesa: #00BAF2;
$verde: #ABCB6A;
$naranja: #F9AC3E;
$morado: #9A3267;
$white: #fff;
$gray: #949494;
$colors: (1 : $main, 2 : $turquesa, 3 : $verde, 4 : $naranja, 5:$morado, 6:$main);

//font
$font-size: 16px;

//General
* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  margin: 0;
  padding: 0;
}

/*REUSABLES*/

.font-logo {
  font-family: 'Shadows Into Light', cursive;
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.bg_morado {
  background-color: $morado;
  &:focus, &:hover {
    background-color: darken($morado, 10%);
  }
}

.bg_naranja {
  background-color: $naranja;
  &:focus, &:hover {
    background-color: darken($naranja, 10%);
  }
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

//container
.main-container {
  width: 100%;
  .row {
    margin: 0;
  }
  .center-column {
    .row {
      padding-bottom: 20px;
    }
  }
}

section.main-container {
  .center-column {
    height: 91vh;
    position: relative;
    padding: 0;
  }
}

//Modal Close
a.modal-trigger {
  color: black;
}

.modal .modal-close.icon-close {
  cursor: pointer;
  color: lighten(black, 20%);
  font-size: 2.3rem;
  position: absolute;
  top: 0;
  right: 10px;
}

/*MENU*/
header {
  nav {
    height: 9vh;
    & .brand-logo {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .row .col.center-column {
    padding: 0;
  }
  nav a, nav a.button-collapse {
    height: 100%;
  }
  button:focus {
    background-color: rgba(143, 43, 143, 0.5) !important;
  }
  .bg_profile {
    height: 12rem;
  }
  li .circle {
    position: absolute;
    top: 4%;
    left: 5%;
    width: 80px;
    height: 80px;
    background-size: 241%;
    background-repeat: no-repeat;
    background-position: 21% 2%;
  }

  li:first-child > a {
    top: 8rem;
  }
  .back i {
    font-size: 3rem !important;
  }
}

/*LOGIN*/
.login-container {
  .row .col.s12.center-column {
    height: 100vh;
    .row {
      padding: 5% 0;
    }
    .login-logo {
      padding-top: 15%;
    }
  }
  img {
    height: 35px;
  }
  .login_error {
    color: $main;
    font-size: 0.8rem;
  }
  .input-field input[type=text]:focus,
  .input-field input[type=password]:focus,
  .input-field input[type=text].valid,
  .input-field input[type=password].valid {
    border-bottom-color: $naranja;
    box-shadow: 0 1px 0 0 $naranja;
  }
  .input-field input[type=text]:focus + label,
  .input-field input[type=password]:focus + label {
    color: gray;
  }
}

/*Cursos*/
.cursos-container {

  @each $i, $c in $colors {
    .course#{$i} {
      border-top: 5px solid $c;
    }
    .coursebg#{$i} {
      border-top: 1px solid $c;
    }
  }

  li .circle {
    background-image: url("http://lorempixel.com/300/175/technics");
    position: absolute;
    top: 4%;
    left: 5%;
    width: 80px;
    height: 80px;
    background-size: 241%;
    background-repeat: no-repeat;
    background-position: 21% 2%;
  }

  li:first-child > a {
    top: 8rem;
  }

  .course {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid lighten($gray, 20%);
    border-left: 1px solid lighten($gray, 20%);
    border-right: 1px solid lighten($gray, 20%);
    margin: 10px 0;
    position: relative;
    cursor: pointer;
  }

  .course h5 {
    text-align: center;
    padding: 20px 0;
  }

  .course h2 {
    padding: 0 20px;
  }

  .practica {
    padding: 10px;
    span {
      font-size: 0.9rem;
    }
  }
}

/*Practicas*/
.exams-container {
  h4 {
    margin: 0;
    padding: 8% 0;
  }

  .test {
    border: 1px solid;
    border-radius: 2px;
    padding: 0;
    padding-top: 0.25rem;
    margin-bottom: 5%;
    cursor: pointer;

    &-1, &-2 {
      border-color: $turquesa;
    }
    &-3, &-4 {
      border-color: $verde;
    }
    &-5 {
      border-color: $naranja;
    }

    img {
      margin: 2%;
      height: 50px;
    }
    .title {
      margin-bottom: 3%;
      margin-top: 2%;
      font-weight: 600;
    }
  }

  .detail {
    padding: 2px 11px;
    & span {
      color: $white;
    }
    &-1, &-2 {
      background-color: $turquesa;
    }
    &-3, &-4 {
      background-color: $verde;
    }
    &-5 {
      background-color: $naranja;
    }
  }
  .modal {
    min-height: 80vh;
  }
  .modal-content .small {
    font-size: 0.9rem;
  }
  .btn-modal {
    width: 100%;
    margin: 8% 0;
  }
}

/*Cantidad de preguntas*/
.quantity-container {
  h4 {
    padding: 15% 5%;
  }
  select {
    display: block;
    width: 28%;
    margin: auto;
    border: none;
    font-size: 2.6rem;
    height: 11%;
    &:focus {
      outline: none;
    }
    option {
      border: 0;
    }
  }
}

/*Resultado*/

.result-container {
  .row-result {
    height: 160px;
  }
  .general-answer {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 2px solid $main;
    background-color: lighten($main, 50%);

    margin: 1.5%;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
  }
  .correct-answer {
    border-color: $verde;
    background-color: lighten($verde, 50%);
  }
  .btn-tema {
    width: 40%;
    margin: 4%;
    background-color: #F9AC3E;
    color: #fff;
    border-radius: 200px;
    height: 40px;
    padding: 2% 3%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

/*Preguntas*/
.carousel-number {
  padding-top: 6%;
  h5 {
    margin: 0;
    font-size: 1.3rem;
  }
  .item {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid darken($white, 30%);
    border-radius: 50%;
    a {
      color: darken($white, 90%);
    }
    .item-number {
      padding: 8px;
      width: 100%;
      height: 100%;
    }
  }
  .question-checked {
    background-color: darken($naranja, 20%);
    border-color: $naranja;
  }
  .selected {
    background-color: $naranja;
    border-color: $naranja;
  }
}

.carousel-question {
  margin-bottom: 7.5vh;
  .item-question {
    display: flex;
    align-items: center;
    flex-direction: column;
    .problem {
      height: 20vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5%;
      p {
        font-size: xx-large;
      }
    }
  }

  [type="radio"]:not(:checked), [type="radio"]:checked,
  [type="radio"] + label:before, [type="radio"] + label:after {
    display: none;
  }
  [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    display: flex;
    background-color: #00BAF2;
    color: #fff;
    font-size: larger;
    padding: 6% 0;
    width: 75%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 2% 0;
  }
  [type="radio"]:checked + label {
    background-color: darken($turquesa, 20%);
  }

}

button.btn-submit {
  width: 75%;
  bottom: 7%;
  margin: 0 auto;
  display: block;
  height: 40px;
  background-color: #F9AC3E;
  z-index: 9;
  &:hover {
    background-color: darken($naranja, 25%);
  }
}

/*Construcción*/
.build-container {
  img {
    width: 60%;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    width: 60%;
  }
}

/*App en desktop*/
@media only screen and (min-width: 601px) {
  .row .col.center-column {
    margin: 0 auto;
    float: none;
  }
  nav a, nav a.button-collapse {
    display: inherit;
  }
  //Header
  header nav {
    height: 7vh;
  }
  section.main-container {
    .center-column {
      height: 73vh;
      border: 1px solid lighten($gray, 35%);
      border-top: 0;
      h1 {
        margin: 0;
        padding: 2.1rem 0 1.68rem 0;
      }
    }
  }
  .login-container .row .col.s12.center-column {
    height: 80vh;
  }
  .exams-container .modal {
    width: 40%;
  }
}