@import "../../../node_modules/materialize-css/sass/materialize";
/*
@font-face {
  font-family: 'CamingoDos Pro';
  src: url('../fonts/CamingoDos-Pro/CamingoDos Pro.otf');
}*/
$main: #B01E31;
$turquesa: #00BAF2;
$verde: #ABCB6A;
$naranja: #F9AC3E;
$morado: #9A3267;
$white: #fff;
$gray: #949494;

//font
$font-size: 16px;

body{
  font-size: $font-size;
}

//container
.relative-col{
  position: relative;
  height: 100vh;
  .absolute-child{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*REUSAmES*/
.fs-2{
  font-size: 2rem;
}
.p-0{
  padding: 0 !important;
}
.m-0{
  margin:0 !important;
}
.btn-down{
  background-color: $naranja;
  padding: 12px;
  width: 100%;
  border:none;
  color: $white;
  font-weight: 500;
}
section{
  padding: 30px 0;
}
button.select-label{
  bottom: 0;
}

/*MENU*/
.bg_profile{
  background-color: $morado;
  height: 12rem;
}
li .circle{
  background-image: url("http://lorempixel.com/300/175/technics");
  position: absolute;
  top: 4%;
  left: 5%;
  width: 80px;
  height: 80px;
  background-size: 241%;
  background-repeat: no-repeat;
  background-position: 21% 2%;
}
li:first-child > a{
  top: 8rem;
}

/*CUrsos*/
h3{
  font-size: 1.6rem;
}
.course{
  width: 100%;
  height: 100%;
  border: 1px solid rgba($white,1);
  border-top: 4px solid $turquesa;
}
.course h2{
  padding: 0 20px;
}
.practica{
  background: $turquesa;
  color: $white;
  padding: 10px;

}

/*PRACTICAS*/
.nivel{
  height: 10rem;
  display: flex;
  justify-content: center;
}
.nivel img{
  width: 90%;
  height: 90%;
  padding: 10px;
}
.test{
  margin: 10px 0;
}
.test:last-child{
  margin: 0 auto;
}
.title{
  margin-bottom: 3%;
  margin-top: 2%;
}
.detail a:nth-child(3){
  color: $white;
  background-color: $turquesa;
  border-top: 1px solid $turquesa;
}
.detail a:nth-child(2){
  color: $gray;
  border-top: 1px solid $gray;
}
.detail a {
  padding: 2px 11px;
}
.modal{
  width: 85% !important;
  max-height: 85% !important;
  box-shadow: 0 8px 10px 7px rgba(0, 0, 0, 0.14), 0 3px 14px -4px rgba(0, 0, 0, 0.12), 0 5px 5px -9px rgba(0, 0, 0, 0.3);

}
.modal-content .row button{
  width: 80%;
}
.btn.center.btn-down{
  margin-bottom: 20px;
  font-size: 1.3rem;
  padding: 0;
}  
.modal .modal-close{
  cursor: pointer;
  background: transparent;
  border: none;
  margin-top: -1rem;
} 
.modal-overlay{
  background: white!important;
  opacity: 1!important;
}
/*botones*/

.exercise{
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-around;
}
.exercise span{
  float: left;
}
.exercise p{
  margin:0 auto;
}
.ex{
  width: 2.5rem;
  height: 2.5rem;
  background: $naranja;
  color: $white;
}

/*Q preguntas*/
.number{
  width: 100px;
  height: 100px;
  background-color: $verde;
  font-size: 4rem
}
#cantidad .row:last-child button{
  width: 100%;
}
/*prueba*/
.alternatives div{
  padding: 12px;
  background-color: $turquesa;
  margin: 10px;
  text-align: center;
}